# compiled output
/dist
/node_modules
/build
/.next
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.*
apps/api/.env
apps/web/.env.local
apps/web/.env

# builds
node_modules
dist
.next

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

node_modules/
**/node_modules/
.next/
**/.next/
dist/
**/dist/




# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/generated/prisma
